<?xml version="1.0" encoding="UTF-8"?>
<gui name="atelier"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
    <MenuBar>
        <Menu name="file" >
            <Action name="open_gcode"/>
            <Action name="quit" />
        </Menu>
        <Menu name="edit">
            <Action name="edit_gcode"/>
        </Menu>
        <Menu name="view">
            <Action name="plot"/>
            <Action name="log"/>
        </Menu>
    </MenuBar>
 
    <ToolBar name="mainToolBar" >
        <text>Main Toolbar</text>
        <Action name="open_gcode"/>
        <Action name="settings"/>
        <Action name="connect"/>
        <Separator/>
        <Action name="print"/>
        <Action name="pause"/>
        <Action name="stop"/>
        <Separator/>
    </ToolBar>
</gui>
