<?xml version="1.0" encoding="UTF-8"?>
<gui name="atelier"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

    <MenuBar>
        <Menu name="file" >
            <Action name="new_instance"/>
            <Action name="open_gcode"/>
            <Action name="quit" />
        </Menu>
        <Menu name="view">
            <Action name="3d"/>
            <Action name="gcode"/>
            <Action name="video"/>
        </Menu>
        <Menu name="settings">
            <Action name="profiles"/>
        </Menu>
    </MenuBar>

    <ToolBar name="mainToolBar" >
        <Action name="open_gcode"/>
        <Action name="profiles"/>
        <Action name="new_instance"/>
        <Separator/>
    </ToolBar>
</gui>
